@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');

body {
  background-color: #1f1f1f; 
  color: #fff;
  font-weight: bold;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    font-family: 'Orbitron', sans-serif;
}

h1 {
  font-size: 3.5rem;
  color: rgb(0, 250, 133);
  margin-bottom: 40px; 
  text-shadow: 0px 45px 50px rgba(0, 255, 242, 0.5);

}

.choices {
  margin-bottom: 30px;
}

.choices button {
  font-size: 7.5rem;
  min-width: 160px;
  margin: 0 10px;
  border-radius: 250px;
  border: none;
  background-color: #2c2c2c;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.choices button:hover {
  background-color: #3b3b3b;
  transform: scale(1.1);
}
.choices button:active {
  transform: scale(0.95);
  background-color: rgb(0, 247, 255);
  color: #c9c2c2;
}
#playerDisplay,
#compDisplay {
  font-size: 1.5rem;
  margin: 10px 0;
  text-align: center;
  color: rgb(0, 250, 133);
}
#result {
  font-size: 3.5rem;
  margin-top: 20px;
  color: rgb(0, 250, 133);
  text-align: center;
  text-shadow: 0px 45px 50px rgba(0, 255, 242, 0.5);
}
.hover {
  background-color: #4caf50 !important; 
  color: #1f1f1f !important;
  transform: scale(1.1);
  transition: all 0.2s ease;
}

